﻿
@{
    ViewBag.Title = "Especialista";
    //Layout="~/Views/Shared/_Base.cshtml"
}

<h2>Especialista</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox floar-e-margins">
                    <div class="ibox-title">
                        <h5>Ingresar Datos</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link"
                               <i class="fa fa-chevron-up"></i>
                               </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <label class="col-md-2 control-label" for="Nombre">Nombre: </label>
                            <div class="col-md-4">
                                <input class="form-control Nombre" id="Nombre" type="text" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label" for="Apellido">Apellido: </label>
                            <div class="col-md-4">
                                <input class="form-control Apellido" id="Apellido" type="text" />
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-md-2 control-label" for="Direccion">Direccion: </label>
                            <div class="col-md-4">
                                <input class="form-control Direccion" id="Direccion" type="text" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label" for="Telefono">Telefono: </label>
                            <div class="col-md-4">
                                <input class="form-control Telefono" id="Telefono" type="text" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label" for="Email">Email: </label>
                            <div class="col-md-4">
                                <input class="form-control Email validate_email" id="Email" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn-success btn-lg">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
</html>

<script type="text/javascript">
    //  $(document).on("keyup", ".validate_email", function () {
    //      console.log("entro aqui" + $('#Email').val());
    // }

    $(document).on("blur", ".validate_email", function () {
        console.log("entro aqui" + $('#Email').val());
    });

</script>