﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/media/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/media/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="~/Scripts/media/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="~/Scripts/media/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/Scripts/media/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="~/Scripts/media/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="~/Scripts/media/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="~/Scripts/media/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

    <link href="~/Scripts/media/css/browser.css" rel="stylesheet">
    @if (IsSectionDefined("Css"))
    {
        @RenderSection("Css")
    }
    <link href="~/Scripts/media/css/animate.css" rel="stylesheet">
    <link href="~/Scripts/media/css/style.css" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="~/Scripts/media/js/jquery-2.1.1.js"></script>
    <script src="~/Scripts/media/js/bootstrap.min.js"></script>
    <script src="~/Scripts/media/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/media/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/media/js/inspinia.js"></script>
    <script src="~/Scripts/media/js/plugins/pace/pace.min.js"></script>
    <script type="text/javascript" src="~/Scripts/media/js/jquery-ui-1.10.4.min.js"></script>
    <!-- Sweet alert -->
    <script src="~/Scripts/media/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Data Tables -->
    <script src="~/Scripts/media/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/media/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/media/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="~/Scripts/media/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    @if (IsSectionDefined("Js"))
    {
        @RenderSection("Js")
    }

</head>

<body class="pace-done mini-navbar">
    <div id="page-wrapper" class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
        @RenderBody()
        <div class="footer">
            <div class="pull-right">
                <strong>sename.cl</strong>
            </div>
        </div>
    </div>
</body>
</html>